/* makes the background look darkened*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .form-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    width: 500px;
    max-width: 50%;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .form-container h2 {
    margin-top: 0;
    color: black;
  }
  
  .form-container label {
    color: black;
    display: block;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  .form-container button {
    background: #003082; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .form-container button:hover {
    background: #002060; 
  }

  .radioButton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 75px;
  }

  .radioButton label{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formQuestions{
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
  }

  .formQuestions input{
    flex-grow: 1;
    padding: 10px;
  }

  .formQuestions button{
    flex-grow: 1;
  }

  .formQuestions label{
    padding: 10px;
    white-space: nowrap;
  }

  .submitFormButton{
    align-items: center;
    margin: 10px;
  }

  .cancelFormButton{
    margin: 10px;
  }

  .buttonsContainer{
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .radioButton{
        gap: 25px;
    }

    .formQuestions{
        flex-direction: column;
    }

    .addQuestionButton{
        display: flex;
        justify-content: center;
      }
}

  @media (max-width: 400px) {
    .radioButton{
        gap: 10px;
    }

    .formQuestions{
        flex-direction: column;
    }

    .buttonsContainer{
        flex-direction: column;
      }
}