@import "../../../node_modules/leaflet/dist/leaflet.css";

/* Dice Keyframe Animation */
@keyframes dice-fall {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px) scale(0.5) rotate(360deg);
  }
}

/* Styling for Dice Images */
.dice {
  position: absolute;
  pointer-events: none;
  /* Prevent interaction with dice */
  z-index: 9999;
  /* Ensure dice appear above most content */
  opacity: 1;
  will-change: transform, opacity;
  /* Prepare for smooth transition */
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  /* Add a subtle shadow for visibility */
}


/* Ensure dice effects do not overflow UI elements */
body {
  position: relative;
  overflow-x: hidden;
  /* Allow vertical scrolling but prevent horizontal overflow */
  height: auto;
  /* Enable flexible height for the body */
}