.page{
   margin: 0 0.5rem;
   font-weight: bold;
   font-size: 0.9rem;
   color: whitesmoke;
   display:flex;
   justify-content: center;
   gap:10px;
   align-items: center;
}


.pagination {
   font-size: 0.9rem; 
   padding: 0.4rem 0.8rem; 
   margin: 0 0.2rem; 
   border: 1px solid #007bff; 
   background-color: #007bff;
   color: #ffffff;
   border-radius: 4px; 
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.2s ease;
 }
 
 .pagination:hover {
   background-color: #0056b3;
   transform: scale(1.05);
 }
 
 .pagination:disabled {
   background-color: #1f1717;
   color: #a0a0a0;
   cursor: not-allowed;
   border-color: #d6d6d6;
 }
