label
{
  color:black;
}

.gameCard {
    background-color: #24353a;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .expanded {
    background-color: #24353a;
  }
  
  .gameSummary {
    display: flex;
    align-items: center;
  }
  
  .gameImage {
    width: 80px;
    height: 80px;
    margin-right: 16px;
  }
  
  .gameDetails {
    flex: 1;
  }
  
  .gameDetails h3 {
    font-size: 1.4rem;
  }
  
  .gameExtraDetails {
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid #ddd;
    opacity: 0; /* Initially hidden */
    max-height: 0; /* Initially collapsed */
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
  }
  .link{
    color: #3498db;
    text-decoration: none; 
    font-weight: bold;
  }
  .link:hover {
    color: #85c1e9;
    text-decoration: underline;
  }
  
  .gameCard.expanded .gameExtraDetails {
    opacity: 1;
    max-height: 1000px;
  }
  
  .gameCard:hover {
    background-color: #24353a;
  }

  .formQuestion label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color:whitesmoke
  }
  
  .textarea {
    width: 100%; 
    padding: 10px;
    margin-top:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
  }
  
  .textarea:focus {
    border-color: #007bff; 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .formContainer button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .applyButton{
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formContainer button:hover {
    background-color: #218838;
  }


  .expandButton {
    display: inline-block; /* Prevent it from stretching */
    margin: 20px auto; /* Center the button horizontally */
    padding: 10px 20px; /* Add some padding for better usability */
    background-color: #007bff; /* Primary button color */
    color: white; /* Text color */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    border: none; /* Remove default border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor for interactivity */
    text-align: center; /* Center the text */
    transition: background-color 0.3s ease; /* Smooth color transition */
  }
  
  .expandButton:hover {
    background-color: #0056b3; /* Darker shade for hover */
  }
  
  .expandButton:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a glow effect */
  }
  
  