.card{
   border: 1px solid black;
   border-radius: 10px;
   box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
   padding: 20px;
   margin: 10px;
   text-align:center;
   max-width: 250px;
   display:inline-block;
   background-image: url('../assets/dragon-background.png');
 }
 .card .card-image{
   height:auto;
 
 }
 .card .game-type{
   font-size: 20px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   padding-bottom: 10px;
   color:goldenrod;
   text-shadow:
   -1px -1px 0 black, 
   1px -1px 0 black, 
   -1px 1px 0 black, 
   1px 1px 0 black;  
 }
 .card .game-name{
   font-size: 25px;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color:goldenrod;
   margin-bottom: 10px;
   text-shadow:
   -2px -2px 0 black, 
   2px -2px 0 black, 
   -2px 2px 0 black, 
   2px 2px 0 black; 
 
 }
 .card button{
   margin-top:10px;
   font-family:'Courier New', Courier, monospace;
   font-size:20px;
   font-weight: bold;
   border-radius: 1rem;
   border-color:darkred;
   border-width: 0.5rem;
   background-color:rosybrown;
 }
 .card button:hover{
   background-color:cadetblue;
   opacity: 85%;
 }
 .card #btn1{
   padding:15px;
   margin:5px;
 }
 .card #btn2{
   padding:12.5px;
   margin:5px;
   font-size:25px;
 }